circle {
    fill: white;
    stroke: black;
    stroke-width: 2px;
}

circle:hover {
    fill: black;
}

path {
    fill: none;
    stroke: black;
    stroke-width: 2px;
}

text {
    color: red;
}

